mixin icon(item, className)
  - var icon = require(`images/icons/${item.name}.svg`).default;
  svg(class=className viewBox=icon.viewBox width=item.width height=item.height preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`images/${path}`).default class=className)

mixin link(text,className)
  a(href="#" class = className+" link")= text
